{% extends 'base.html' %}

{% block content %}
    <h1>Perfil de {{ usuario_perfil.username }}</h1>

    <h2>Cartas en venta</h2>
    {% if cartas %}
    <ul>
        {% for carta in cartas %}
        <li>
            <strong>{{ carta.nombre }}</strong> - {{ carta.juego }} - ${{ carta.precio }}
            {% id carta.imagen %}
            <br><img src="{{ carta.imagen.url }}" width="100">
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>Este usuario no tiene cartas publicadas.</p>
    {% endif %}
{% endblock %}